<h1 class="display-4">Articles</h1>
<table class="table table-stripped">
    <thead>
        <th>id</th>
        <th>title</th>
        <th>body</th>
    </thead>
    <tbody>
        <% articles.forEach(function(article){ %>
            <tr>
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td><%= article.body %></td>
                <td>
                    <a href="/articles/edit/<%= article.id %>" class="btn btn-primary">Edit</a>
                    <form action="/articles/delete/<%= article.id %>" class="d-inline" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>