<h1 class="display-4">Testing</h1>

<form action="/test/create" method="post">
    <div class="form-group">
        <input type="text" name="fname" value="first name" class="form-control" />
    </div>
    <div class="form-group">
        <input type="text" name="lname" value="last name" class="form-control"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>


<!-- <input type="text" id="fn" name="fname" value="first name" class="form-control" />
<input type="text" id="ln" name="lname" value="last name" class="form-control"/>
<button type="submit" id='btn' class="btn btn-primary">Save</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
<script>
    $(document).ready(function(){
        $("#btn").click(()=>{
            var obj = {
    fname : $('#fn').val(),
    lname : $('#ln').val()
}
console.log(obj)
$.ajax({
	url : '/test/create',
type : 'post',
dataType : 'string',
contentType : 'application/json',
data : JSON.stringify(obj),
success:()=>{msg:'success'},
error:()=>{err:'something went wrong'}

        })
        })

    })
</script> -->
