<h1 class="display-4">Welcome to ArticleBase</h1>
<a href="articles/list" class="btn btn-light">View Articles</a>
<a href="articles/add" class="btn btn-light">Add Articles</a>
<!-- <a href="test/test">test</a> -->